# Task 1.1 List Refresher

In [1]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]

## Replace the ?? so that it prints the index for Manchester in the list.

In [6]:
print("The position of Manchester in the list is: " + str( cities.index("Manchester") ))

The position of Manchester in the list is: 2

## Replace the ?? so that it prints Belfast.

In [7]:
print(cities[2 + 2])

Belfast

## Use a negative index to print Belfast

In [8]:
print(cities[4])

Belfast

# Task 1.2 Looking Across Lists

In [10]:
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]

## Given what you know about cities and temperatures, how do you print:##                      
"The average temperature in Manchester is 13.4 degrees."

In [11]:
city="Manchester" # Use this to get the solution...

# This way is perfectly fine
print("The average temperature in " + city + " is " + str(temperatures[cities.index(city)]))

# This way is more Python 3 and a bit easier to read
print(f"The average temperature in {city} is {str(temperatures[cities.index(city)])}")

The average temperature in Manchester is 13.4
The average temperature in Manchester is 13.4

## You'll know that you got the 'right' answer to the question above if you can copy+paste your code and change only one thing in order to print out: "The average temperature in Belfast is 15.2 degrees"

In [12]:
city="Belfast"
print(f"The average temperature in {city} is {str(temperatures[cities.index(city)])}")

The average temperature in Belfast is 15.2

## Can you convert this to a simple function called avg_tmp with two inputs and then use this to print the average temperature for Edinburgh?

In [13]:
def avg_tmp(city, temp):
    print(f"The average temperature in {city} is {temp}")

city="Edinburgh"
avg_tmp(city, str(temperatures[cities.index(city)]))

The average temperature in Edinburgh is 14.0

## Now use a for loop over the cities to print out the average temperature in each city using the function that we just created:

In [16]:
for c in cities:
    avg_tmp(c, str(temperatures[cities.index(c)]))

The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

# Task 2.1 Creating an Atlas

In [17]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
}

## Add a record to the dictionary for Chennai (data here)

In [20]:
cities['Chennai'] = [13.08, 80.27, 'Che']

## In one line of code, print out the airport code for Chennai (MAA):

In [25]:
print(f"Chennai({cities['Chennai'][2]})")

Chennai(Che)

## Check you understand the difference between the following two blocks of code by running them.

In [26]:
print(cities['Berlin'])

KeyError: 'Berlin'

In [27]:
print(cities.get('Berlin'))

None

## Adapting the code below, print out the city name and airport code for every city in our Atlas.

In [28]:
for k, v in cities.items():
    print(f"{k} -> {v[2]}")

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> Che

## How would your code need to change to produce the same output from this data structure:

In [30]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}

for k, v in cities.items():
    print(f"{k} -> {v['airport']}")

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

## And how would it need to change to print out the name and latitude of every city?

In [31]:
for c in cities.keys():
    print(f"{c} is at latitude {cities[c]['lat']}")

San Francisco is at latitude 37.77
London is at latitude 51.51
Paris is at latitude 48.86
Beijing is at latitude 39.92
Chennai is at latitude 13.08

## Now produce the same output using this new data structure:

In [35]:
cities_alt = [
    {'name':     'San Francisco',
     'position': [37.77, -122.43],
     'airport':  'SFO'},
    {'name':     'London',
     'position': [51.51, -0.08],
     'airport':  'LDN'},
    {'name':     'Paris',
     'position': [48.86, 2.29],
     'airport':  'PAR'},
    {'name':     'Beijing',
     'position': [39.92, 116.40],
     'airport':  'BEI'},
    {'name':     'Chennai', 
     'position': [13.08, 80.28],
      'airport': 'MAA'}
]

for c in cities_alt:
    print(f"{c['name']} -> {c['airport']}")

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

# Task 3.1. Reading a Remote File

In [36]:
from urllib.request import urlopen
?urlopen

Signature:
urlopen(
    url,
    data=None,
    timeout=<object object at 0x7f30883b8ae0>,
    *,
    cafile=None,
    capath=None,
    cadefault=False,
    context=None,
)
Docstring:
Open the URL url, which can be either a string or a Request object.

*data* must be an object specifying additional data to be sent to
the server, or None if no such data is needed.  See Request for
details.

urllib.request module uses HTTP/1.1 and includes a "Connection:close"
header in its HTTP requests.

The optional *timeout* parameter specifies a timeout in seconds for
blocking operations like the connection attempt (if not specified, the
global default timeout setting will be used). This only works for HTTP,
HTTPS and FTP connections.

If *context* is specified, it must be a ssl.SSLContext instance describing
the various SSL options. See HTTPSConnection for more details.

The optional *cafile* and *capath* parameters specify a set of trusted CA
certificates for HTTPS requests. cafile should point to a single file
containing a bundle of CA certificates, whereas capath should point to a
directory of hashed certificate files. More information can be found in
ssl.SSLContext.load_verify_locations().

The *cadefault* parameter is ignored.


This function always returns an object which can work as a
context manager and has the properties url, headers, and status.
See urllib.response.addinfourl for more detail on these properties.

For HTTP and HTTPS URLs, this function returns a http.client.HTTPResponse
object slightly modified. In addition to the three new methods above, the
msg attribute contains the same information as the reason attribute ---
the reason phrase returned by the server --- instead of the response
headers as it is specified in the documentation for HTTPResponse.

For FTP, file, and data URLs and requests explicitly handled by legacy
URLopener and FancyURLopener classes, this function returns a
urllib.response.addinfourl object.

Note that None may be returned if no handler handles the request (though
the default installed global OpenerDirector uses UnknownHandler to ensure
this never happens).

In addition, if proxy settings are detected (for example, when a *_proxy
environment variable like http_proxy is set), ProxyHandler is default
installed and makes sure the requests are handled through the proxy.
File:      /opt/conda/lib/python3.11/urllib/request.py
Type:      function

In [37]:
from urllib.request import urlopen

# Given the info you were given above, what do you 
# think the value of 'url' should be? What
# type of variable is it? int or string? 
url = 'https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities-simple.csv'

# Read the URL stream into variable called 'response'
# using the function that we imported above
response = urlopen(url)

# You might want to explore what `__class__` and `__name__`
# are doing, but basically the give us a way of finding out what
# is 'behind' more complex variables

# Now read from the stream, decoding so that we get actual text
raw = response.read()

print(f"'raw' variable is of type: '{raw.__class__.__name__}'.")
print(f"Raw content is:\n{raw}\n")

data = raw.decode('utf-8')

print(f"'data' variable is of type: '{data.__class__.__name__}'.")
print(f"Decoded content is:\n{data}")

'raw' variable is of type: 'bytes'.
Raw content is:
b'City,Population,Latitude,Longitude\r\nPerth,45770,56.39583,-3.43333\r\nArmagh,14777,54.3499,-6.6546\r\nDundee,147268,56.462,-2.9707\r\nColchester,194706,51.88861,0.90361\r\nSalisbury,40302,51.07,-1.79\r\nPortsmouth,205056,50.80583,-1.08722\r\nWakefield,325837,53.683,-1.499\r\nBradford,522452,53.792,-1.754\r\nLancaster,138375,54.047,-2.801\r\nBangor,18808,53.228,-4.128\r\n'

'data' variable is of type: 'str'.
Decoded content is:
City,Population,Latitude,Longitude
Perth,45770,56.39583,-3.43333
Armagh,14777,54.3499,-6.6546
Dundee,147268,56.462,-2.9707
Colchester,194706,51.88861,0.90361
Salisbury,40302,51.07,-1.79
Portsmouth,205056,50.80583,-1.08722
Wakefield,325837,53.683,-1.499
Bradford,522452,53.792,-1.754
Lancaster,138375,54.047,-2.801
Bangor,18808,53.228,-4.128

In [38]:
print(f"There are {len(data)} characters in the data variable.")
print(f"The first 125 characters are: '{data[:125]}'") # Notice that '\n' count here!

There are 352 characters in the data variable.
The first 125 characters are: 'City,Population,Latitude,Longitude
Perth,45770,56.39583,-3.43333
Armagh,14777,54.3499,-6.6546
Dundee,147268,56.462,-2.9707'

In [39]:
rows = data.splitlines()

print(f"'rows' variable is of type: {rows.__class__.__name__}'.")

'rows' variable is of type: list'.

In [42]:
print(f"There are {len(data)} rows of data.")
print("\n".join(data.splitlines()[0:2])) # New syntax alert! notice we can *join* list elements

There are 352 rows of data.
City,Population,Latitude,Longitude
Perth,45770,56.39583,-3.43333

In [43]:
print(data.splitlines()[-1])

Bangor,18808,53.228,-4.128

# Task 3.2. Text into Data

In [44]:
print('abcdefgh'.split('d'))

['abc', 'efgh']

In [45]:
help('abcdefgh'.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [46]:
test = rows[-1].split(',')
print(test)
print(f"The population of {test[0]} is {int(test[1]):,}")

['Bangor', '18808', '53.228', '-4.128']
The population of Bangor is 18,808

# Task 3.3. The Advantages of a Package

In [47]:
from urllib.request import urlopen
import csv

url = 'https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities-simple.csv'
response = urlopen(url)
raw = response.read()

# Now take the raw data, decode it, and then
# pass it over to the CSV reader function
csvfile  = csv.reader(raw.decode('utf-8').splitlines()) 

urlData = [] # Somewhere to store the data
for row in csvfile:              
    urlData.append( row )

print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")
print(urlData[-1]) # Check it worked!

urlData has 11 rows and 4 columns.
['Bangor', '18808', '53.228', '-4.128']

In [48]:
for u in urlData[1:]:                             # For each row in the first 15 items in list
    print(f"The city of '{u[0]}' has a population of {int(u[1]):,}") # Print out the name and pop

The city of 'Perth' has a population of 45,770
The city of 'Armagh' has a population of 14,777
The city of 'Dundee' has a population of 147,268
The city of 'Colchester' has a population of 194,706
The city of 'Salisbury' has a population of 40,302
The city of 'Portsmouth' has a population of 205,056
The city of 'Wakefield' has a population of 325,837
The city of 'Bradford' has a population of 522,452
The city of 'Lancaster' has a population of 138,375
The city of 'Bangor' has a population of 18,808

In [55]:
from urllib.request import urlopen
import csv

url = "https://raw.githubusercontent.com/jreades/fsds/master/data/src/Wikipedia-Cities.csv"
response = urlopen(url)
raw = response.read()

csvfile = csv.reader(raw.decode('utf-8').splitlines())

urlData = [] # Somewhere to store the data

for row in csvfile:              
    urlData.append( row )

print(f"urlData has {len(urlData)} rows and {len(urlData[0])} columns.")

for u in urlData[63:]:                             # For each row in the list
    print(f"The city of '{u[0]}' has a population of {u[3]}") # Print out the name and pop

urlData has 75 rows and 7 columns.
The city of 'Stoke-on-Trent' has a population of 249008
The city of 'Sunderland' has a population of 275506
The city of 'Swansea' has a population of 239023
The city of 'Truro' has a population of 18766
The city of 'Wakefield' has a population of 325837
The city of 'Wells' has a population of 10536
The city of 'Westminster' has a population of 219396
The city of 'Winchester' has a population of 116595
The city of 'Wolverhampton' has a population of 249470
The city of 'Worcester' has a population of 98768
The city of 'Wrexham, Wrecsam' has a population of 134844
The city of 'York' has a population of 198051

In [54]:
print(f"The URL's data labels are: {', '.join(urlData[0])}")

The URL's data labels are: City, Region, Founded, Population, URL, Longitude, Latitude

change u[1] -> u[3]

# Task 4.1. Understanding What's an 'Appropriate' Data Structure

In [56]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

print(myData['Name'])
print(myData['Population'])

['London', 'Manchester', 'Birmingham', 'Edinburgh', 'Inverness', 'Lerwick']
[9787426, 2705000, 1141816, 901455, 70000, 6958]

In [58]:
import numpy as np

# Find the latitude of Manchester.
lat = myData['Latitude'][ myData['Name'].index('Manchester') ]
print(f"Manchester's latitude is {lat}") # Notice how 'f-strings' work!

# Find the easternmost city
city = myData['Name'][ myData['Longitude'].index( np.max(myData['Longitude']) ) ]
print(f"The easternmost city is: {city}")

# Print the location of Lerwick
city = "Lerwick"
print(f"The town of {city} can be found at " + 
      f"{abs(myData['Longitude'][myData['Name'].index(city)])}ºW, {myData['Latitude'][myData['Name'].index(city)]}ºN")

# Find the mean population of the cities
# using a handy package called numpy
mean = np.mean(myData['Population'])
print(f"The mean population is: {mean}")

Manchester's latitude is 53.479
The easternmost city is: London
The town of Lerwick can be found at 1.145ºW, 60.155ºN
The mean population is: 2435442.5

In [59]:
?abs

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

# Task 4.2 Brain Teaser

In [76]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

city = sorted(zip(myData['Name'], myData['Population']), key=lambda x: x[1], reverse=True)[3][0]

print("The fourth most populous city is: " + str(city))

The fourth most populous city is: Edinburgh