In [1]:
print('Hello World!')

Hello World!

In [2]:
Pi = 3.14159      # Valid Python

In [3]:
pi = 3.14159      # Valid Python

In [4]:
pi3 = 3.14159*3   # Valid Python

In [5]:
pi_2 = 3.14159**2 # Valid Python

In [6]:
pi2 = 3.14159**2  # Valid Python

In [7]:
my_Radius = 5     # Valid Python

In [8]:
My_Radius = 5     # Valid Python

In [9]:
Class = 5         # Valid Python

In [11]:
x = '2'
y = z = 2

print(y * z)    # 4
print(x * y)    # 22
print(x + x)    # 22
print((y+z)**z) # 16
print(y/(y+z))  # 0.5

print( type(x * y) )    # <class 'str'>
print( type(y * z) )    # <class 'int'>
print( type((y+z)**z) ) # <class 'int'>
print( type(y/(y+z)) )  # <class 'float'>

4
22
22
16
0.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [12]:
x = 12
y = 10

z = x + y # 22
x = x + y # 22
y = z + y # 32

print(x)
print(y)
print(z)

22
32
22

In [14]:
x = 1 + (2 * 3) / 4
y = (1 + 2) * (3 / 4)
z = 1 + 2 * (3 / 4)

print(x) # x is 2.5
print(y) # y is 2.25
print(z) # z is 2.5

2.5
2.25
2.5

In [17]:
x = 10
y = 3

print( x % y ) # 1
print( x + y ) # 13
print( x == y ) # False
print( x ** y ) # 1000
print( x - y ) # 7
print( x // y ) # 3

1
13
False
1000
7
3

In [21]:
pi = 3.14159
r = 6
v = (4/3) * pi * r ** 3
print(v) # 904.7779199999999

904.7779199999999

In [23]:
v = 14.137
pi = 3.14159
r = ((3 / 4) * (v / pi)) ** (1 / 3)
print(r) # 1.499994517971739

1.499994517971739

In [24]:
hours=0

if hours >= 10:
    print("At least 10 hours worked!")
elif hours == 2:
    print("Exactly 2 hours worked")
else:
    print("Less than 10 hours worked!")

Less than 10 hours worked!

In [25]:
a = 1
b = 1
if (a == b):
    print("inside 1")
    print("inside 2")
    print("inside")
    print("after condition")
else:
    print("after condition")

inside 1
inside 2
inside
after condition

In [33]:
x = 0

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

# 1.Aled
# 2.0<x<5
# 3.Aled
#   Sarah
# 4.no value can print all three name

Aled
Sarah

In [34]:
for x in range(0,9):
    if(x % 2 == 0):
        print("x is even")
    else:
        print("x is odd")
    print(x)

x is even
0
x is odd
1
x is even
2
x is odd
3
x is even
4
x is odd
5
x is even
6
x is odd
7
x is even
8

In [36]:
x = 2
y = 3

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("x is equal to y")

x is not equal to y
x is less than y

In [37]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']

# Print out London from cities:
print( cities[1] )

# Print out Tokyo using *negative* indexing:
print( cities[3] )

# Print out Beijing *and* Tokyo using a list slice
print( cities[2],"and",cities[3] )

# Print out London to Delhi using a slice
print( cities[1:4] ) # You could also do cities[1:5] but this way is neater

# Combine positive and negative indexing to print out London, Beijing and Tokyo using a list slice
print( cities[1:3] )

# Print out the position of New York in the list by searching for it (i.e. you can't just type 0)
print( cities.index('New York') )

London
Tokyo
Beijing and Tokyo
['London', 'Beijing', 'Tokyo']
['London', 'Beijing']
0

In [40]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
print(sorted(cities, reverse=True))

['Tokyo', 'New York', 'London', 'Delhi', 'Beijing']

In [42]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
p = cities[0]
cities.remove(p)
print(p)
print(cities)

New York
['London', 'Beijing', 'Tokyo', 'Delhi']

In [44]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
check = 'Moscow'
if check in cities:
    print(f"{check} is exist")
else:
    print(f"{check} is not exist")

Moscow is not exist